# Virtual environment
.venv/

# Model and tokenizer files
email_classifier.h5
tokenizer.pkl

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and temporary files
*.log
*.csv
*.json
*.db
.DS_Store

